// @import url('../node_modules/searchkit/theming/theme.css');

.largeContainer{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 75 100 75 100px;
  padding: 20 45 20 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.miniContainer{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group input {
  outline: 0;
  background: #f2f2f2 !important;
  width: 100%;
  margin: 0 0 1px;
  padding: 10px;
  box-sizing: inherit !important;
  font-size: 14px;
}

.navLogoSize{
margin-left: -7px !important;
margin-right: 10px;
width: 75px;
}

.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color:#666666;
}

.buttonSpacer{
  margin-top: 20px;
}

.middlespacer{
  margin-right: 60px;
}

.filterContainer{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 40 100 -50 100px;
  padding: 20 45 20 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.filterContainer button {
  text-transform: uppercase;
  background: white;
  color: black;
  cursor: pointer;
}

@media(max-width: 850px){
  .btn-group {
    display: block !important;
    width: auto !important;
  }
}

.filterContainer button:hover {
  text-transform: uppercase;
  background: #43A047;
  color: white;
  cursor: pointer;
}

th {
  color: white;
  background:#43A047;
}

button {
  text-transform: uppercase;
  outline: 0;
  background: #76b852;
  // width: 200px;
  border: 0;
  padding: 15px 25px 15px 25px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button:hover, .form button:active, .form button:focus {
  background: #43A047;
}

body {
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
