// @import url('../node_modules/searchkit/theming/theme.css');

.animal-img {
  max-width: 100px;
  max-height: 100px;
}

.animal-card {
  width: 20rem;
  margin: 10px;
}

.largeFlexContainer{
  display: flex;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 50 100 50 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.largeContainer{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 75 100 75 100px;
  padding: 20 45 20 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.miniContainer{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 360px;
  margin: 0 auto 100px;
  margin-top: 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.form-group input {
  outline: 0;
  background: #f2f2f2 !important;
  width: 100%;
  margin: 0 0 1px;
  padding: 10px;
  box-sizing: inherit !important;
  font-size: 14px;
}

.navLogoSize{
  margin-right: 10px;
  height:65px;
  border-right:2px solid #fff;

}
.navbar{
  background-color: #333;
  padding:0 !important;
}
.navbar a {
  font-weight: bold;
  color: white;
}

.navbar a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color:#666666;
}

.buttonSpacer{
  margin-top: 20px;
}

.middlespacer{
  margin-right: 60px;
}

.filterContainer{
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  margin: 40 100 -50 100px;
  padding: 20 45 20 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.filterContainer button {
  text-transform: uppercase;
  background: white;
  color: black;
  cursor: pointer;
}

@media(max-width: 850px){
  .btn-group {
    display: block !important;
    width: auto !important;
  }
}

.filterContainer button:hover {
  text-transform: uppercase;
  background: #43A047;
  color: white;
  cursor: pointer;
}

th {
  color: white;
  background:#43A047;
}

button {
  text-transform: uppercase;
  outline: 0;
  background: #76b852;
  // width: 200px;
  border: 0;
  padding: 15px 25px 15px 25px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

button:hover, .form button:active, .form button:focus {
  background: #43A047;
}

body {
  background: #76b852;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #76b852, #8DC26F);
  background: -moz-linear-gradient(right, #76b852, #8DC26F);
  background: -o-linear-gradient(right, #76b852, #8DC26F);
  background: linear-gradient(to left, #76b852, #8DC26F);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.dashboard-container{
  display:flex;
  justify-content:space-around;
  align-items:flex-start;
  flex-wrap:wrap;
  padding:16px;
  font-family:verdana, sans-serif;
  background-color:rgb(240,240,241);
  width:100%;
  height:100%;
  overflow-y:scroll;
}


.dashboard-chart-container{
  min-width: 665px;
  border-radius:2px;
  max-width:97%;
  background-color:#ffffff;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.17);
  margin:16px;
  padding:8px;
  position:relative;
  display:flex;
  align-items:center;
  justify-content:center;
}

.dashboard-chart-container:hover{
  box-shadow: 0 3px 8px rgba(0,0,0,0.08), 0 3px 8px rgba(0,0,0,0.17);

}


.dashboard-stats{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  max-width:97%;
  margin:16px;
  padding:8px;
  background-color:transparent;
  align-self:center;
  padding:0px;
}

.stat-group{
  margin:8px;
  border-radius:3px;
  min-width:500px;
  background-color: transparent;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.17);
  border: 3px solid #fff;
}
.bottom-bar{
  border-bottom: 3px solid #fff;
}

.stat-group:hover{
  box-shadow: 0 3px 8px rgba(0,0,0,0.08), 0 3px 8px rgba(0,0,0,0.17);
}

.dashboard-stat{
  font-weight:lighter;
  font-size:25px;
  padding: 4px;
  width:100%;
  height:50px;
  background-color:#43A047;
  color:white;
  margin:0;
}

.bad-stat{
  background-color:#333;
}

.chart-center{
  position:absolute;
  left:22.25%;
  font-size:18px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.chart-center-title{
}

.chart-center-subtitle{
  color:#666;
  font-size:12px;
}